<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> This site was created by Ian Cabello. It uses data from weatherstack.com and tomtom.com</p>
        <img class="portrait" src="/img/rengoku.png">
    </div>
    
    {{>footer}}
</body>

</html>